@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}

.nav-color {
  background: rgba(240, 244, 255, 0.8);
  backdrop-filter: blur(40.7742px);
}

.fixed-container {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Move it back by half of its width and height */
}

.title {
  text-wrap: nowrap;
  @apply max-h-[40px] max-w-[300px] overflow-hidden text-ellipsis md:max-w-[450px];
}

body.menu-open {
  overflow-y: hidden !important;
}

/* transition */
.slide-in-right {
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  .wrapper {
    @apply w-full max-w-7xl px-5 py-8 md:px-10 lg:mx-auto xl:px-0;
  }

  .cta-button {
    @apply flex h-[45px] w-full items-center justify-center rounded-lg border border-[#4a71ff] bg-blue-600 px-2 py-3 text-white hover:bg-blue-700;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply text-[40px] font-bold leading-[48px] lg:text-[48px] lg:leading-[60px] xl:text-[58px] xl:leading-[74px];
  }

  /* 40 */
  .h2-bold {
    @apply text-[32px] font-bold leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  .h2-medium {
    @apply text-[32px] font-medium leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    @apply text-[28px] font-bold leading-[36px] md:text-[36px] md:leading-[44px];
  }

  .h3-medium {
    @apply text-[28px] font-medium leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply text-[32px] font-medium leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply text-[28px] font-bold leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply text-[24px] font-bold leading-[36px];
  }

  .p-medium-24 {
    @apply text-[24px] font-medium leading-[36px];
  }

  .p-regular-24 {
    @apply text-[24px] font-normal leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply text-[20px] font-bold leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[16px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }

  /* water button effect */
  .box {
    transform: translate(0%, 0%);
    position: static;
    display: inline-block;
    text-decoration: none;
    margin: 0 auto;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    background-color: #4973ff;
    transition:
      box-shadow 0.4s ease,
      background-color 0.4s ease,
      color 0.4s ease;
    box-shadow:
      0 0 2px 0 rgba(73, 115, 255, 0.1),
      0 0 4px 0 rgba(73, 115, 255, 0.2),
      0 0 6px 0 rgba(73, 115, 255, 0.3),
      0 0 8px 0 rgba(73, 115, 255, 0.4),
      0 0 12px 0 rgba(73, 115, 255, 0.5),
      0 0 18px 0 rgba(73, 115, 255, 0.6);
  }

  .box:hover {
    background-color: #3454b4; /* Darker blue on hover */
    box-shadow:
      0 0 2px 0 rgba(52, 84, 180, 0.1),
      0 0 4px 0 rgba(52, 84, 180, 0.2),
      0 0 6px 0 rgba(52, 84, 180, 0.3),
      0 0 8px 0 rgba(52, 84, 180, 0.4),
      0 0 12px 0 rgba(52, 84, 180, 0.5),
      0 0 18px 0 rgba(52, 84, 180, 0.6);
  }

  .box span {
    color: #fff;
    letter-spacing: 8px;
  }

  .box i {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 200px;
    background-color: inherit;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition:
      transform 0.4s linear,
      top 1s linear;
    overflow: hidden;
  }

  .box i:before,
  .box i:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  .box i:before {
    border-radius: 46%;
    background-color: rgba(20, 20, 20, 0.2);
    animation: animate 5s linear infinite;
  }
  .box i:after {
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
